/* Apply initial styling to the dropdown button */
.dropdown-toggle.btn-secondary {
    background-color: #ffffff; /* Change to your desired color */
    border-color: #ffffff; /* Change to your desired border color */
    width: 100%; /* Set a fixed width for all dropdown buttons */
    text-align: left; /* Align text to the left within the dropdown button */
    margin-bottom: 2%; /* Add margin bottom to create space between buttons */
    display: flex; /* Use flexbox */
    justify-content: space-between; /* Align items with space between them */
    align-items: center; /* Center items vertically */
    padding: 2% 4%; /* Add padding */
    font-size: 5vw; /* Fixed font size for desktop */
    font-weight: bold; /* Make text bold */
    color: #000000; /* Text color */
    box-shadow: 0 0 0 2px black; /* Add black outline */
}

/* Style the hover effect of dropdown buttons */
.dropdown-toggle.btn-secondary:hover {
    background-color: #0c36ff; /* Change to your desired hover color */
    border-color: #0c36ff; /* Change to your desired hover color */
    color: #ffffff; /* Change text color to white on hover */
}

.dropdown-toggle.btn-secondary:focus{
    box-shadow: 0 0 0 2px black; 
}

/* Style the text inside the dropdown button */
.dropdown-toggle.btn-secondary .dropdown-text {
    flex-grow: 1; /* Let the text grow to take available space */
}

/* Style the dropdown arrow */
.dropdown-toggle.btn-secondary .caret {
    margin-left: 2%; /* Add margin to separate arrow from text */
}

.dropdown {
    margin-bottom: 1%; /* Add margin bottom to create space between buttons */
    display: flex; /* Use flexbox */
    justify-content: center; /* Align items horizontally at the center */
    align-items: center; /* Center items vertically */
}

.container {
    margin-top: 60px; /* Adjust margin to accommodate the header */
    margin-bottom: 60px; /* Adjust margin to accommodate the footer */
    max-width: 1200px; /* Set a max-width for the container */
    position: relative; /* Change position to relative */
    padding: 20px; /* Add padding */
    margin-left: auto; /* Automatically center the container horizontally */
    margin-right: auto; /* Automatically center the container horizontally */
    
}

body {
    color: #ffffff; /* Set default text color to white */
    font-family: 'Bw Gradual', sans-serif;
}

.dropdown-toggle.btn-secondary::after {
    font-size: 6vw; /* Adjust the font size to make the caret responsive based on viewport width */
}

.seuraa-text {
    margin-right: 5px; /* Adjust margin to create space between text and icons */
    margin-bottom: 3px;
    font-weight: bold; /* Make the text bold */
}


.footer {
    background-color: #000000; /* Change to your desired color */
    color: #ffffff; /* Change to your desired text color */
    padding: 20px; /* Add padding */
    text-align: center; /* Align text to the center */
    position: fixed; /* Change position to absolute */
    bottom: 0; /* Position the footer at the bottom of the page */
    width: 100%; /* Set the width to 100% */
    padding: 10px; /* Add padding to maintain spacing around the content */
    height: 80px; /* Set the desired height */
    line-height: 20px; /* Adjust line height for better vertical alignment */
    
}


.social-icons a {
    display: inline-block;
    background-color: #ffffff;
    padding: 8px; /* Adjust padding */
    border-radius: 50%; /* Set border-radius to 50% */
    margin: 0 5px; /* Adjust margin */
}
.social-icons a i {
    color: #000000;
    font-size: 18px; /* Adjust font size */
}



@media (max-width: 768px) {
    .container {
        padding: 0 20px; /* Adjust padding for smaller screens */
    }
}


/* CSS for setting max font size using Bootstrap classes */
@media (min-width: 650px) {
    .dropdown-toggle.btn-secondary {
        font-size: 3vw; /* Default font size using viewport units */
        font-size: min(3vw, 20px); /* Set maximum font size for desktop */
    }
}


@media (min-width: 650px) {
    .dropdown-toggle.btn-secondary::after {
        font-size: 6vw; /* Default font size using viewport units */
        font-size: min(6vw, 30px); /* Set maximum font size for desktop */
    }
}
