body{
    overflow-y: auto; 
}

.form-group label {
    font-weight: bold;
}

.form-group input[type="checkbox"] {
    margin-right: 5px;
}

.form-group input[type="number"] {
    width: 100px;
}

.form-group select {
    width: 120px;
}

.form-group .form-check-label {
    font-weight: normal;
}

.toggle-switch {
    position: relative;
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center; 
    cursor: pointer;
}

.toggle-switch input[type="checkbox"] {
    display: none; 
}

.toggle-slider {
    position: relative;
    width: 60px;
    height: 34px;
    background-color: #ccc;
    border-radius: 34px;
    transition: .4s;
}

.toggle-slider:before {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 26px;
    height: 26px;
    background-color: white;
    border-radius: 50%;
    transition: .4s;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-slider {
    background-color: #0c36ff;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-slider:before {
    transform: translateX(26px);
}
