body{
    overflow-y: auto; 
}

.form-group label {
    font-weight: bold;
}

.container {
    max-width: 600px;
    margin: auto;
}

.form-group input[type="checkbox"] {
    margin-right: 5px;
}

.form-group input[type="number"] {
    width: 100px;
}

.form-group select {
    width: 120px;
}

.form-group .form-check-label {
    font-weight: normal;
}



.machine-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* Adds an ellipsis (...) if the text overflows */
    display: flex;
    flex-shrink: 1; 
    font-size: 10vw;
}

.toggle-switch {
    position: relative;
    display: flex;
    flex-direction: column; 
    cursor: pointer;
}

.toggle-switch input[type="checkbox"] {
    display: none; 
}

.toggle-slider {
    position: relative;
    width: 60px;
    height: 34px;
    background-color: #ccc;
    border-radius: 34px;
    transition: .4s;
}

.toggle-slider:before {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 26px;
    height: 26px;
    background-color: white;
    border-radius: 50%;
    transition: .4s;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-slider {
    background-color: #0c36ff;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-slider:before {
    transform: translateX(26px);
}


.toggle-container {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.toggle-containers {
    display: flex;
    align-items: center;
}
.toggle-text {
    margin-left: 10px;
    margin-top: -5px;
}


@media screen and (min-width: 768px) {
    .machine-name {
        font-size: 50px; /* Adjust the font size for larger screens */
    }
}