<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajopäiväkirja</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/styles_form.css">
</head>

<body>
    <div class="d-flex justify-content-between mt-3">
        <div></div>
        <a href="{{ url_for('main.main_page') }}" class="btn btn-secondary">
            <span class="mr-2">&larr;</span> Takaisin kone-listaan
        </a>
    </div>

    <div class="container">
        <h1 class="machine-name">{{ machine_name.replace('-', ' ').upper() }}</h1>
        
        <form method="post">
            <div class="col-sm-5">
                <div class="form-group">
                    <label for="username">Nimi:</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <label for="date">Päivämäärä:</label>
                    <input type="date" class="form-control" id="date" name="date" required>
                </div>
                <div class="col-6">
                    <label for="drivingHours">Ajotunnit:</label>
                    <input type="number" class="form-control" id="drivingHours" name="drivingHours">
                </div>
            </div>

            <script>
                var today = new Date();
                var yyyy = today.getFullYear();
                var mm = String(today.getMonth() + 1).padStart(2, '0');
                var dd = String(today.getDate()).padStart(2, '0');
                var formattedDate = yyyy + '-' + mm + '-' + dd;
                document.getElementById("date").value = formattedDate;
            </script>

            <div class="form-row align-items-center">
                <div class="col-auto">
                    <div class="toggle-container">
                        <label class="toggle-switch" for="oilChecked">
                            Tark.
                            <input type="checkbox" id="oilChecked" name="oilChecked">
                            <span class="toggle-slider"></span>
                        </label>
                    </div>
                </div>
                <div class="col-auto">
                    <label for="oilAddedAmount">Lisätyn Öljyn määrä(L):</label>
                    <input type="number" class="form-control" id="oilAddedAmount" name="oilAddedAmount">
                </div>
            </div>

            <div class="form-row align-items-center">
                <div class="col-auto">
                    <div class="toggle-container">
                        <label class="toggle-switch" for="hydraulicOilToggled">
                            Tark.
                            <input type="checkbox" id="hydraulicOilToggled" name="hydraulicOilToggled">
                            <span class="toggle-slider"></span>
                        </label>
                    </div>
                </div>
                <div class="col-auto">
                    <label for="hydraulicOilAddedAmount">Lisätyn Hydrauliikkaöljyn määrä(L):</label>
                    <input type="number" class="form-control" id="hydraulicOilAddedAmount"
                        name="hydraulicOilAddedAmount">
                </div>
            </div>

            <div class="form-row align-items-center">
                <div class="col-auto">
                    <div class="toggle-container">
                        <label class="toggle-switch" for="gearOilToggled">
                            Tark.
                            <input type="checkbox" id="gearOilToggled" name="gearOilToggled">
                            <span class="toggle-slider"></span>
                        </label>
                    </div>
                </div>
                <div class="col-auto">
                    <label for="gearOilAddedAmount">Lisätyn Vaihteistoöljyn määrä(L):</label>
                    <input type="number" class="form-control" id="gearOilAddedAmount" name="gearOilAddedAmount">
                </div>
            </div>

            <div class="form-row align-items-center">
                <div class="col-auto">
                    <div class="toggle-container">
                        <label class="toggle-switch" for="liquidCoolantToggled">
                            Tark.
                            <input type="checkbox" id="liquidCoolantToggled" name="liquidCoolantToggled">
                            <span class="toggle-slider"></span>
                        </label>
                    </div>
                </div>
                <div class="col-auto">
                    <label for="liquidCoolantAddedAmount">Lisätyn Jäähdytysnesteen määrä(L):</label>
                    <input type="number" class="form-control" id="liquidCoolantAddedAmount"
                        name="liquidCoolantAddedAmount">
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="fuelType">Polttoaineen tyyppi:</label>
                        <select id="fuelType" class="form-control" name="fuelType">
                            <option value="Gasoline">Bensiini</option>
                            <option value="Diesel">Diesel</option>
                        </select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="fuelAdded">Lisätty määrä(L):</label>
                        <input type="number" class="form-control" id="fuelAdded" name="fuelAdded">
                    </div>
                </div>

            </div>


            <div class="form-group">
                <div class="toggle-container">
                    <label class="toggle-switch" for="greasingChecked">
                        <input type="checkbox" id="greasingChecked" name="greasingChecked">
                        <span class="toggle-slider"></span>
                    </label>
                    <span class="toggle-text">Rasvaus tehty</span>
                </div>
            </div>

            <div class="form-group">
                <div class="toggle-container">
                    <label class="toggle-switch" for="automaticGreaserChecked">
                        <input type="checkbox" id="automaticGreaserChecked" name="automaticGreaserChecked">
                        <span class="toggle-slider"></span>
                    </label>
                    <span class="toggle-text">Automaatti rasvat tarkistettu</span>
                </div>
            </div>
            
            

            <div class="form-group">
                <label for="automaticGreaserLastDateFilled">Automaatti rasvat viime täyttöpäivä:</label>
                <input type="date" class="form-control" id="automaticGreaserLastDateFilled"
                    name="automaticGreaserLastDateFilled">
            </div>

            <div class="form-group">
                <label for="description">Muuta huomioitavaa:</label>
                <textarea class="form-control" id="description" name="description" rows="3"></textarea>
            </div>
            

            <button type="submit" class="btn btn-primary">Lähetä</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>