<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajopäiväkirja</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/styles_form.css">
</head>

<body>
    <div class="d-flex justify-content-between mt-3">
        <div></div>
        <a href="{{ url_for('main.main_page') }}" class="btn btn-secondary">
            <span class="mr-2">&larr;</span> Takaisin kone-listaan
        </a>
    </div>

    <div class="container">
        <h1>{{ machine_name.replace('-', ' ').upper() }}</h1>

        <form method="post">
            <div class="form-group">
                <label for="username">Nimi:</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>

            <div class="form-group">
                <label for="date">Päivämäärä:</label>
                <input type="date" class="form-control" id="date" name="date" required>
            </div>
            
            <script>
                var today = new Date();
                var yyyy = today.getFullYear();
                var mm = String(today.getMonth() + 1).padStart(2, '0');
                var dd = String(today.getDate()).padStart(2, '0');
                var formattedDate = yyyy + '-' + mm + '-' + dd;
                document.getElementById("date").value = formattedDate;
            </script>
            
            <div class="form-group">
                <label for="drivingHours">Ajotunnit:</label>
                <input type="number" class="form-control" id="drivingHours" name="drivingHours">
            </div>

            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="oilChecked" name="oilChecked">
                <label class="form-check-label" for="oilChecked">Öljy tarkistettu</label>
            </div>

            <div class="form-group">
                <label for="oilAddedAmount">Lisätyn Öljyn määrä:</label>
                <input type="number" class="form-control" id="oilAddedAmount" name="oilAddedAmount">
            </div>

            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="hydraulicOilChecked" name="hydraulicOilChecked">
                <label class="form-check-label" for="hydraulicOilChecked">Hydrauliikkaöljy tarkistettu</label>
            </div>

            <div class="form-group">
                <label for="hydraulicOilAddedAmount">Lisätyn Hydrauliikkaöljyn määrä:</label>
                <input type="number" class="form-control" id="hydraulicOilAddedAmount" name="hydraulicOilAddedAmount">
            </div>

            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="gearOilChecked" name="gearOilChecked">
                <label class="form-check-label" for="gearOilChecked">Vaihteistoöljy tarkistettu</label>
            </div>

            <div class="form-group">
                <label for="gearOilAddedAmount">Lisätyn Vaihteistoöljyn määrä:</label>
                <input type="number" class="form-control" id="gearOilAddedAmount" name="gearOilAddedAmount">
            </div>

            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="liquidCoolantChecked" name="liquidCoolantChecked">
                <label class="form-check-label" for="liquidCoolantChecked">Jäähdytysneste tarkistettu</label>
            </div>

            <div class="form-group">
                <label for="liquidCoolantAddedAmount">Lisätyn Jäähdytysnesteen määrä:</label>
                <input type="number" class="form-control" id="liquidCoolantAddedAmount" name="liquidCoolantAddedAmount">
            </div>

            <div class="form-group">
                <label for="fuelAdded">Lisätyn Polttoaineen määrä:</label>
                <input type="number" class="form-control" id="fuelAdded" name="fuelAdded">
            </div>

            <div class="form-group">
                <label for="fuelType">Polttoaineen tyyppi:</label>
                <select id="fuelType" class="form-control" name="fuelType">
                    <option value="Gasoline">Bensiini</option>
                    <option value="Diesel">Diesel</option>
                </select>
            </div>

            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="greasingChecked" name="greasingChecked">
                <label class="form-check-label" for="greasingChecked">Rasvaus tehty</label>
            </div>

            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="automaticGreaserChecked" name="automaticGreaserChecked">
                <label class="form-check-label" for="automaticGreaserChecked">Automaatti rasvat tarkistettu</label>
            </div>

            <div class="form-group">
                <label for="automaticGreaserLastDateFilled">Automaatti rasvat viime täyttöpäivä:</label>
                <input type="date" class="form-control" id="automaticGreaserLastDateFilled" name="automaticGreaserLastDateFilled">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
